<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:name=".SeniorPaymentGuardApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AutofillApprovalActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <service
            android:name=".PaymentGuardAutofillService"
            android:exported="true"
            android:label="@string/autofill_service_label"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/payment_guard_autofill_service" />
        </service>
    </application>
</manifest>
